body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    background-image: url('../images/wallpaper2.jpg');
    background-size: cover;
    margin: 0px;
    padding: 0;
}
#navBar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    background-color: rgb(133, 186, 255);
    top: 0px;
    /* position: sticky; */
}
#header {
    font-weight: normal;
    padding-left: 25px;
}
#links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    font-weight: normal;
}
.hLink {
    font-weight: normal;
    padding: 15px;
}
#profileImg {
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
}
#content {
    display: flex;
    flex-direction: column;
}
#aboutMe {
    display: flex;
    margin-top: 75px;
    padding: 10px;
    justify-content: space-evenly;
}
#aboutTitle {
    /* align-self: top; */
    font-weight: normal;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;;
}
#aboutText {
    padding: 0px 20px 0px 20px;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
#aboutImgContainer {
    background-color: rgb(230, 230, 230);
    padding: 5px 4px 2px 4px;
    border-radius: 5px;
}
#aboutMeContainer {
    padding: 5px 4px 2px 4px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
}
#aboutMeContent {
    background-color: #f5f5f5;
    border-radius: 5px;
}
#contentMenu {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
}
a {
    text-decoration: none;
    color: inherit;
}
.folderIcon {
    max-height: 100px;
    max-width: 100px;
}
.contentTitle {
    text-align: center;
    margin-top: 0;
    font-weight: normal;
}
.fakeBtnContainer {
    display: flex;
}
#red {
    padding-left: 0px;
}
.fakeBtn {
    padding: 0px 3px 0px 3px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 50%;
}
.footerTitles {
    margin-bottom: 10px;
    margin-top: 0px;
    font-weight: normal;
    padding: 0px 10px 5px 10px;
}
footer {
    background-color: rgb(133, 186, 255);
    bottom: 0;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
}